.popup__container {
    min-width: 430px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 530px){
    .popup__container {
        min-width: 282px;
        max-height: 322px;
    }
}